body {
    /*background-color: #ff6060;*/
    background-color: hsl(2, 57%, 40%);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
    font-family: 'Raleway', sans-serif;
}

#brand {
    color: #FFF;
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 10px;
}

#brand-header {
    font-size: 2.5em;
    font-family: 'Indie Flower', cursive;
}

#current-user {
    font-size: 1.5em;
    position: absolute;
    right: 0;
    bottom: 0;
}

#chat {
    margin-top: 10px;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#name-label {
    margin-bottom: 30px;
    font-family: 'Indie Flower', cursive;
}

#name-input-group {
    width: 100%;
}

#name-input {
    text-align: center;
    margin-bottom: 10px;
}

#room-list-container, #chat-feed {
    background-color: #FFFFFF;
}

#room-list-container {
    max-height: 500px;
}

#rooms tr:first-child:hover {
    background-color: #FFFFFF;
}

#rooms tr:not(:first-child):hover {
    cursor: pointer;
}

#new-room-row {
    border-top: 2px dashed #000;
}

#chat-feed {
    height: 500px;
    margin-bottom: 2px;
    overflow-y: scroll;
    padding: 10px;
}

#chat-text {
    border-radius: 0;
}
